body {
  font-family: "Raleway", sans-serif;
  /* font-family: "Reenie Beanie", cursive; */
  margin: 69px 122px;
  color: #353e44;
  font-size: 18px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.02em;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

button {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.green_btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #75bd38;
}
